/* ==================== 1. CoverImage ==================== */
.animated-pulse {
  animation: pulse 3s linear infinite;
  border: 1px solid #ffffff;
}

.cover-image {
  vertical-align: middle;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  height: 900px;
  padding-top: 50px;
}

.animated-pulse {
  background-color: transparent;
  height: 50px;
  border-color: #ffffff;
}

.pulse-link {
  color: #436e8f;
  line-height: 50px;
}

/* ==================== 2. CategorySlider Start ==================== */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ==================== 2. CategorySlider End ==================== */

/* ==================== 3. Display Start ==================== */

.display-center-section {
  background-image: url("https://kx-ilyn-shop-s3.s3.amazonaws.com/static/images/cover_images/footer-bg-one.png");
}

.display-center-section-area a {
  box-shadow: 0px 3px 6px #0000008c;
}

.display-center-section-area a:hover {
  opacity: 0.5;
}

/* ==================== 3. Display End ==================== */

/* ==================== 4. Preloader Start ==================== */

.tavaas-preloader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f7f7f7;
  z-index: 999999;
}

.tavaas-preloader {
  width: 50px;
  height: 50px;
  display: inline-block;
  padding: 0;
  text-align: left;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.tavaas-preloader span {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #7460ef;
  -webkit-animation: preloader 1.3s linear infinite;
  animation: preloader 1.3s linear infinite;
}

.tavaas-preloader span:last-child {
  animation-delay: -0.8s;
  -webkit-animation-delay: -0.8s;
}

@keyframes preloader {
  0% {
    transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@-webkit-keyframes preloader {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0;
  }
}

/* ==================== 4. Preloader End ==================== */

/* ==================== 5. Panjabi Description Start ==================== */

.swiper-button-prev{
  background-color: rgba(10,10,10,.1);
  padding: 28px !important;
  --swiper-theme-color: white;
  --swiper-navigation-size: 24px;
}

.swiper-button-next{
  background-color: rgba(10,10,10,.1);
  padding: 28px !important;
  --swiper-theme-color: white;
  --swiper-navigation-size: 24px;
}

.details-list {
  list-style-type: square;
}

.grid-description {
  box-shadow: 1px 1px 10px #e6e6e6;
}
/* ==================== 5. Panjabi Description End ==================== */

/* ==================== 6. New Arrivals Start ==================== */

.new-arrival{
  background-color: #faf9f8;
}

.wishlist-icon:hover{
  color: red;
  /* background-color: red; */
}

/* ==================== 6. New Arrivals End ==================== */
