/* ==================== 1. CoverImage ==================== */
.animated-pulse {
  animation: pulse 3s linear infinite;
  border: 1px solid #ffffff;
}

.cover-image {
  vertical-align: middle;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  height: 900px;
  padding-top: 50px;
}

.animated-pulse {
  background-color: transparent;
  height: 50px;
  border-color: #ffffff;
}

.pulse-link {
  color: #436e8f;
  line-height: 50px;
}

/* ==================== 2. CategorySlider Start ==================== */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ==================== 2. CategorySlider End ==================== */

/* ==================== 3. Display Start ==================== */

.display-center-section {
  background-image: url("https://kx-ilyn-shop-s3.s3.amazonaws.com/static/images/cover_images/footer-bg-one.png");
}

/* ==================== 3. Display End ==================== */
